body, html{
    height: 100%;
    background: #222222;
    font-family: sans-serif;
}

.container {
    display: block;
    position: absolute;
    margin: auto;
    width: 840px;
    bottom: 0; left:0; right: 0; top:0;
    padding: 0;
}

h2 {
    color: #AAAAAA;
    font-weight: normal;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 10px;
}

input + input {
    margin-left: 10px;
}

.register-input {
    width: 49%;
    height: 38px;
    margin-top: 2px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}

.register-input:focus {
    border-color: #e6a53d;
    outline: 0;
}

.container ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

.register-button {
    display: block;
    width: 100%;
    height: 42px;
    margin-top: 25px;
    color: #F86F7F;
    text-align: center;
    cursor: pointer;
    background: #AAAAAA;

    font-size: inherit;
    font-weight: 500;
}
.register-button:active {
    background: #eee;
    border-color: #c3c3c3 #d1d1d1 #d8d8d8;
    background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.register-button:focus {
    outline: 0;
}


div {
    clear: left;
}

ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 20%;
    height: 80px;
}

ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1em;
    padding: 25px 25px 25px 53px;
    margin: 10px auto;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    color: #FFFFFF;
}

ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
    border: 5px solid #FFFFFF;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 11px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 5px solid #F86F7F;
}

input[type=radio]:checked ~ .check::before{
    background: #F86F7F;
}

input[type=radio]:checked ~ label{
    color: #F86F7F;
}

.signature {
    position: fixed;
    margin: auto;
    bottom: 0;
    top: auto;
    width: 100%;
}

.signature p{
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;
}

.signature .much-heart{
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
}

.signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
}

.signature a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}


textarea {
    margin-top: 15px;
    font-size: inherit;
    font-weight: 500;
    height: 62px !important;
}

table {
    color: black;
    background: #ffffff;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
